* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  overflow-x: hidden;
}

body {
  background-color: #f2f2f2;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  border-radius: 25px;
  justify-content: center;
  margin: auto;
  max-width: 600px;
  min-width: 340px;
  top: auto;
  transform: translate(0% 50%);
}

.human {
  background-image: url(images/icon-person.svg);
  background-position: 16px 14px;
}
.usd {
  background-image: url(images/icon-dollar.svg);
  background-position: 16px 10px;
}

.icon {
  background-size: 16px;
  background-repeat: no-repeat;
}

.inputs-section {
  margin: 32px;

  /* width: 500px; */
}

.header > h1 {
  color: #5e7a7d;
}

h1 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}

.result-section {
  margin: 0px 24px 32px 24px;
  background-color: #00474b;
  border-radius: 15px;
  padding: 39px 24px 24px 24px;
}

.result-section > h1 {
  color: #ffffff;
}

input,
button {
  border-radius: 5px;
}

#id {
  width: 100%;
  background-color: #f3f9fa;
  height: 48px;
}

.percentage-parent-div {
  margin: 32px 0px;
}

.percentage-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 10px;
}

.percentage-div > * {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 5px;
  background: #004748;
  height: 48px;
  color: white;
  font-size: 24px;
  border: 0;
  cursor: pointer;
}

.section {
  display: inline-block;
}

input {
  height: 48px;
  width: 100%;
  border-radius: 5px;
  background-color: #f3f9fa;
  border: none;
  padding: 0px 16px;
  font-size: 24px;
  color: #00474b;
  text-align: right;
}

.result {
  font-size: 48px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: -1px;
  color: #26c2ae;
}

.duo > h1 {
  color: white;
}

.duo > p {
  color: #7f9d9f;
}

.trio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#reset {
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  height: 48px;
  width: 100%;
  border: none;
  background-color: #0d686d;
  color: #00474b;
  padding: auto;
  margin-top: 35px;
}

.header > h1 {
  float: left;
}

.header > p {
  float: right;
  font-size: 16px;
  color: #e17457;
}

.active {
  background-color: #26c2ae;
  background: #00474b;
}

.percentage-div > *:hover,
#reset:hover {
  background-color: #9fe8df;
  color: #00474b;
  cursor: pointer;
}

@media screen and (min-width: 910px) {
  .section {
    display: block;
  }

  .percentage-parent-div {
    margin: 40px 0px;
  }

  .inputs-section {
    margin: 48px 24px 48px 48px;
    width: calc(50% + 24px);
  }

  .result-section {
    width: calc(50% - 24px);
    margin: 32px 32px 32px 24px;
    padding: 56px 40px 40px 40px;
  }

  .container {
    flex-direction: row;
    min-width: 920px;
    max-width: 1200px;
  }

  .percentage-div {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 14px;
    row-gap: 16px;
  }

  #reset {
    margin-top: 132px;
  }
}
